					/* Communs à toutes les pages*/
html {
	font-family: Arial, elvetica, san-serif; 
	background-color: #000;
	height: auto;
}

/*Titre*/ 
h1 {
	text-align: center;
 	color: black;
  	text-transform: uppercase;
  	letter-spacing: -2px;
  	display: block;
 	margin: 11px 0 50px 0;
  	font-size: 80px;
  	line-height: 85px;
  	color: black;
  	text-shadow: 0 10.36px 2px #538ee8,0 -1px 1px #fff;
  	box-shadow: 0px 2px  3px black; 
  	border-radius: 2px;
}
/*menu de nav*/
.div1 {
	margin: :auto; 
	height: auto;
	width: 100%;
	max-width: 1500px;
	min-width: 600px;
	background-color: #a4c2e8; 
	border-radius: 10px;
}
header{
		background-color: #538ee8;
		width: 100%;
		box-shadow: 0px 6px 10px #000;
		height: 4em;
		display: flex;
		align-content: stretch;
		justify-content: space-around;
		border-radius: 2px; 
	}
#nav{
	list-style: none; 
	width: 100%;
	display: flex;
	align-content: stretch;
	justify-content: space-around;
}
#nav li a{ 
	text-decoration: none;
	color: black; 
	text-shadow:0 -1px 1px #fff;
	
}
#nav li{
	text-decoration-color: black; 
	background-color: #a4c2e8;
	border-radius: 20%;
	border: 4px solid #181817;
	width: 16%;
	height: 70%;
	display: flex;
	align-content: stretch;
	justify-content: space-around;
	box-shadow: 3px 3px 8px black;
}

/*Logo iut*/
.img1 {
	box-shadow:3px 0px 8px black;
	border-radius: 2%;
	height: 4em;
}
/*Pied de page*/
footer {
	background-color: #538ee8;
	border-radius: 2%;
	box-shadow:0 -3px 1px #000;
	height: 60px; 
	display: flex; 
	align-content: stretch;
	justify-content: space-around;
}
footer .ret{
	text-decoration: none; 
	font-size: 1.2em; 
	color: black; 
	border-radius: 70%;  
	text-decoration-color: black; 
	background-color: #a4c2e8; 
	width: 15%; 
	text-align: center;
	box-shadow:1px 10px 10px black; 
	border: 2px solid #181817;
	padding: 0.6em; 
}
footer p {
	display: flex;
	justify-content: space-around;
	width: 30%;
	font-size: 80%;
	margin-top: 0.5em; 
	margin-bottom: 0.5em; 
	background-color: #a4c2e8;
	border: 4px solid #181817;
	border-radius: 30%; 
}
footer div{
	text-shadow:0 -1px 1px #fff;
	padding-top: 1.0em; 
	width: 20%;
}

 				/*Page index*/
 /*Mise en place de l'ergo avec flexbox*/
.div2 {
	width: 100%;
	display:flex;
	justify-content: space-around;
}
.img2{
	width: 20em;
	display: flex;
	justify-content: space-around;
	border-radius: 20%;
	box-shadow: 0 25.36px 10.896px #538ee8,0 -1px 1px #fff;
	
}
p {
	background-color: #538ee8;
	width: 9em;
	display: inline-flex;
	justify-content: space-around;
	border-radius: 15%; 
	text-align: center; 
	text-shadow:1px 1px 1px #fff; 
	font-size: 35px; 
	box-shadow: 3px 3px 30px black;
	padding: 1em;
}
article{
	margin-top: 2em;
	background-color: ;
	display: flex;
	align-content: stretch;
	justify-content: space-around;
}

				/*Page1*/
/*Titre*/
h2 {
	font-size: 40px;
  	color: black;
  	text-shadow:0 -1px 1px #fff;
  	text-decoration: underline black;
  	width: 100%; 
  	text-align: center;
  	margin-top: -10px;  
}
/*Mise en forme*/
.div3 {
	display: flex;
	flex-direction: column;
}
.p2 {
	width:80%; 
	font-size: 2em;  
	margin: 1.2em; 
	padding: 3em;
	margin-top:-10px; 
	border-radius: 100%;
}
.ret1 {
text-decoration: none; 
	font-size: 1.2em; 
	color: black; 
	border-radius: 40%;  
	text-decoration-color: black; 
	background-color: #a4c2e8; 
	width: 15%; 
	text-align: center;
	box-shadow:1px 10px 10px black; 
	border: 4px solid #181817;
	padding: 0.6em; 
	margin-top: 0.3em; 
	margin-bottom: 0.4em;
}
				/*Page2*/
/*Mise en forme du tableau*/
.div2 table .td1 {
	background-color:#538ee8 ;
	height: 5em;
	width: 40%; 
}
.tr1 {
	text-decoration-color: black; 
	text-shadow:0 -1px 1px #fff;
	font-size: 4em;
	background-color: #a4c2e8;
	box-shadow:0 -4px 30px #000;
	}
	table{
	background-color: black;  
	text-align: center; 
	margin:2em; 
	border-radius: 5px; 
}

				/*Page3*/
iframe {
	width: 90%;
	margin: 3em;
	margin-top: 0px; 
	height: 40em; 
}
				/*Page4 + page1*/
.ul1 {
	list-style: square; 
	background-color: #538ee8; 
	border-radius: 15px;
	width: 92%; 
	margin:1.2em;
	box-shadow: 3px 3px 20px black;
	margin-bottom: 1.5em; 
}
.ul1 li {
	padding: 1em; 
}
			/*Page4*/
	.img3{
		width: 90%; 
		border-radius: 50%; 
		padding: 5%; 
		padding-top: 0px; 
		padding-bottom: 3%; 
	}